In [46]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format
land_temps = pd.read_csv('data/landtempssample.csv', names = ['stationid', 'year', 'month', 'avgtemp', 'latitude',
                                                             'longitude', 'elevation', 'station', 'countryid', 
                                                              'country'], skiprows=1, parse_dates=[['month','year']],
                        low_memory=False)
                                                                
land_temps.head()

,month_year,stationid,avgtemp,latitude,longitude,elevation,station,countryid,country
0,2000-04-01,USS0010K01S,5.27,39.90,-110.75,"2,773.70",INDIAN_CANYON,US,United States
1,1940-05-01,CI000085406,18.04,-18.35,-70.33,58.00,ARICA,CI,Chile
2,2013-12-01,USC00036376,6.22,34.37,-91.12,61.00,SAINT_CHARLES,US,United States
3,1963-02-01,ASN00024002,22.93,-34.28,140.60,65.50,BERRI_IRRIGATION,AS,Australia
4,2001-11-01,ASN00028007,NaN,-14.78,143.50,79.40,MUSGRAVE,AS,Australia

In [42]:
land_temps.dtypes

month_year    datetime64[ns]
stationid             object
avgtemp              float64
latitude             float64
longitude            float64
elevation            float64
station               object
countryid             object
country               object
dtype: object

In [47]:
land_temps.avgtemp.describe()

count   85,554.00
mean        10.92
std         11.52
min        -70.70
25%          3.46
50%         12.22
75%         19.57
max         39.95
Name: avgtemp, dtype: float64